.main-chat
  .group-info
    .group-info__left
      %p.group-info__left__current-group
        test
      %ul.group-info__left__member-list
        Member：
        %li.group-info__left__member-list__member-first
          sei
    %a(href = '#')
      Edit
  .message-list
    .message-list__messaege-header
      %p.message-list__messaege-header__current-name
        sei
      %p.message-list__messaege-header__time-data
        2020/05/07(Thu)21:51:06
  .message-form