.main-chat
  .group-info
    .group-info__left
      %p.group-info__left__current-group
        test
      %ul.group-info__left__member-list
        Member：
        %li.group-info__left__member-list__member-first
          sei
    %a(href = '#')
      Edit
  .message-list
    #message1
      .message-list__messaege-header
        %p.message-list__messaege-header__current-name
          sei
        %p.message-list__messaege-header__time-data
          2020/05/07(Thu)21:51:06
      .message-list__content
        テスト
    #message2
      .message-list__messaege-header
        %p.message-list__messaege-header__current-name
          sei
        %p.message-list__messaege-header__time-data
          2020/05/07(Thu) 22:11:20
      .message-list__content
        テストテスト
  .message-form
    .new-message
      .type-message
        %input.type-message__text{placeholder: "type a message",type: "text"}
        .type-message__select-file
      %input.message-form__send{type: "submit", name: "commit", value: "Send"}