.message-list
    .messaege-header
      %p.messaege-header__current-name
        = message.user.name
      %p.messaege-header__time-data
        = message.created_at.strftime("%Y年%m月%d日 %H時%M分")
    .talk
      - if message.content.present?
        .talk__content
          = message.content
      = image_tag message.image.url, class: 'talk__image' if message.image.present?