.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      %p.side-bar__user-name__top-items__name
        sei
      %ul.side-bar__user-name__top-items__icons
        %li.side-bar__user-name__top-items__edit
          = link_to '#' do
            = icon('fas', 'edit')
        %li.side-bar__user-name__top-items__setting
          = link_to '#' do
            = icon('fas', 'cog')
            
  .side-bar__group-list