.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        sei
      .side-bar__user-name__top-items__icons
        %i.fa.fa-edit
        %i.fa.fa-cog
  .side-bar__group-list