* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.side-bar {
  background-color: #253141;
  width: 300px;
  &__user-name {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    &__top-items {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      p {
        color: #fff;
      }
      &__edit {
        margin-right: 5px;
      }
      &__icons {
        display: flex;
        li {
          a {
            color: #fff;
            text-decoration: none;
          }
        }
      }
    }
  }
  &__group-list {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
  }
}

.main-chat {
  background-color: #fff;
  width: calc(100vw - 300px);
  &__group-info {
    background-color: #ffffff;
    height: 100px;
    border-bottom: 1px solid #eee;
  }
  &__message-list {
    background-color: #fafafa;
    height: calc(100vh - 190px);
  }
  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
  }
}
